<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yx.hoststack.center.mapper.IdcNetConfigMapper">
    <!-- IdcNetConfigMapper.xml -->
    <select id="existsNetworkConfigs" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM (
        SELECT 1
        FROM t_idc_net_config
        WHERE (local_ip, local_port) IN
        <foreach collection="localCombinations" item="local" open="(" separator="," close=")">
            (
            SUBSTRING_INDEX(#{local}, ':', 1),
            SUBSTRING_INDEX(#{local}, ':', -1)
            )
        </foreach>
        OR (mapping_ip, mapping_port) IN
        <foreach collection="mappingCombinations" item="mapping" open="(" separator="," close=")">
            (
            SUBSTRING_INDEX(#{mapping}, ':', 1),
            SUBSTRING_INDEX(#{mapping}, ':', -1)
            )
        </foreach>
        LIMIT 1
        ) t
    </select>
</mapper>
